# Secrets & variables d'environnement
.env
.env.*

# Certificats TLS
*.crt
*.key
*.pem
*.p12
*.pfx

# Dossiers de secrets
secrets/
certs/
ssl/
tls/

# Ansible — Projet Atlas
.vault_pass
develop/group_vars/all/vault.yaml
.cache/
*.retry
scripts/setup_vlan_routing.sh.bak

# Fichiers temporaires Office
~$*
