# ══════════════════════════════════════════════
# Rôle : common — configuration systemd-timesyncd
# Fichier géré par Ansible — NE PAS MODIFIER MANUELLEMENT
# ══════════════════════════════════════════════

[Time]
NTP={{ common_ntp_servers | join(' ') }}
FallbackNTP={{ common_ntp_fallback | join(' ') }}
