# ══════════════════════════════════════════════
# Rôle : common — configuration systemd-timesyncd
# Fichier géré par Ansible — NE PAS MODIFIER MANUELLEMENT
# ══════════════════════════════════════════════

[Time]
NTP=pool.ntp.org
